html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #96beb7;
}

#container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#dice img {
    width: 200px; 
    height: auto;
}
